<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SWGSetupHolder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <SWGSetupHolder.Properties.Settings>
            <setting name="FirstWeaponName" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstWeaponDPS" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstWeaponElement" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstWeaponExotics" serializeAs="String">
                <value />
            </setting>
            <setting name="SecondSetupName" serializeAs="String">
                <value />
            </setting>
            <setting name="ThirdSetupName" serializeAs="String">
                <value />
            </setting>
            <setting name="FourthSetupName" serializeAs="String">
                <value />
            </setting>
            <setting name="FifthSetupName" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstSetupName" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="CurrentSetupNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstSetupProfession" serializeAs="String">
                <value />
            </setting>
            <setting name="SecondSetupProfession" serializeAs="String">
                <value />
            </setting>
            <setting name="ThirdSetupProfession" serializeAs="String">
                <value />
            </setting>
            <setting name="FourthSetupProfession" serializeAs="String">
                <value />
            </setting>
            <setting name="FifthSetupProfession" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstSetupExpertise" serializeAs="String">
                <value />
            </setting>
            <setting name="SecondSetupExpertise" serializeAs="String">
                <value />
            </setting>
            <setting name="ThirdSetupExpertise" serializeAs="String">
                <value />
            </setting>
            <setting name="FourthSetupExpertise" serializeAs="String">
                <value />
            </setting>
            <setting name="FifthSetupExpertise" serializeAs="String">
                <value />
            </setting>
        </SWGSetupHolder.Properties.Settings>
    </userSettings>
</configuration>